* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.row {
    
    flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
    
    width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
}



